.fundo-receitas{

	background: url("../img/receitas-capa.png") no-repeat;
	background-size: cover;

}

.introducao-interna h1{
	color: white;
}

.quote-clientes{

	padding: 60px 0; 
	max-width: 400px;
	margin: 0 auto;
	text-align: center;

}

.quote-clientes p{
	font-family: Georgia,"Times New Roman",serif;
	font-size: 18px;
	line-height: 25px;
	font-style: italic;
	margin-bottom: 10px;
}


.quote-clientes cite{
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
}
